.DS_Store

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

prototype/lib
test/*

pnpm-lock.yaml
npm-debug.log
node_modules
script.js
script-min.js

pnpm-lock.yaml
package-lock.json