/* all interactives will be wrapped in a <div> with class "time-interactive" */
.time-interactive {
	/* default styles for TIME interactives */
	@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:100,400,500,700');
	width: 100%;
	max-width: 800px;
	font-family: 'Libre Franklin', Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;

	svg { overflow: hidden; }

	/* Undoing junk from time.css. Please submit PRs for anything missing here. */
	table {
		text-align: inherit;
		font-size: inherit;
		padding: 0;
		margin: 0;
	}

	table tbody tr, table tbody tr:last-child {
		border: none;
		background-color: transparent;
		height: auto;
		padding: 0;
		margin: 0;
	}

	table tbody {
		border: none;
	}

	table tbody tr td, table tbody tr th, table tbody tr td:not(:first-child), table tbody tr td, table tbody tr td:first-child {
		border: none;
		background-color: transparent;
		height: auto;
		padding: 0;
		margin: 0;
		font-size: inherit;
		text-align: inherit;
	}

	button {
		cursor: pointer;
		outline: none;
		background-color: white;
		font-size: 1em;
	}

	input {
		padding: 3px 10px 4px 10px;
		outline: none;
		border: 2px solid black;
		border-radius: 5px;
		font-size: 24px;
		line-height: 24px;
	}	
}